<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('model.product.title') %></strong>
    <%= product.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('model.product.description') %></strong>
    <%= product.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('model.product.image_url') %></strong>
    <%= product.image_url %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('model.product.price') %></strong>
    <%= product.price %>
  </p>
</div>
